 a {
    text-decoration: none;
    color: #fefefe;
}

nav div ul li a:hover{
    background-color: #12121f;
    color: #fefefe;
    text-decoration: none;
}
nav div ul li a{
    padding: 7px;
}
nav div{
    display: flex;
    justify-content: end;
}
